<div class="main-header">
  <h1>Trending now</h1>
</div>

<div class="row">
  <div>
    <ul class="col-md-3 col-sm-6 col-xs-8" id="grid-items" ng-repeat="movie in popularmovies.all">
      <li class="card-holder">
        <a class="card-title" href="/movie/{{movie.id}}">
          {{movie.title}}          
          <br/>
          <img style="width: 160px" src="https://image.tmdb.org/t/p/w150/{{movie.poster}}" />
          <br/>
          {{movie.release_date}}
          </a>
      </li>
    </ul>
  </div>
</div>