<div class="flex-container">
  <div class="movie-wrapper">
    <h1>{{vm.movie.title}}</h1>
    <!-- {{ vm.movie.id }} -->


    <iframe width="560" height="315" ng-src="{{getIframeSrc(vm.movie.video_keys[0])}}" frameborder="0" allowfullscreen></iframe>

    <!-- <h3>{{vm.movie.title}}</h3>
                {{ vm.movie.id }} -->
    <div>
      <button class="list-btn-remove-add" ng-show="vm.movie.in_watchlist == false" ng-click="addToWatchlist()">
    Add to watchlist
  </button>
      <button class="list-btn-remove-add" ng-show="vm.movie.in_watchlist" ng-click="removeFromWatchlist()">
    Remove from watchlist
  </button>
    </div>

    <h5 class="comments-header">Comments</h5>
    <form  ng-submit="addComment()">
      <textarea class="comments-field" ng-model="newComment"></textarea>
      <button class="comment-btn-add">Add comment</button>
    </form>
    <ul>
      <li ng-repeat="comment in vm.comments" style="list-style: none">
        <p>{{ comment.body }}</p>

      </li>
    </ul>
  </div>
</div>