<form action="/search" method="GET">
<input type="text" name="searchterm" />
<br />
<button class="search-button">Search</button>
<button>Add to my list</button>
</form>

<div class="row">
    <div >
<ul class="col-md-3 col-sm-6 col-xs-8" ng-repeat="movie in search.all">
        <li>
          <a href="/movie/{{movie.id}}">
          {{movie.title}}          
          <br/>
          <img src="https://image.tmdb.org/t/p/w150/{{movie.poster}}" />
          <br/>
          {{movie.release_date}}
          </a>
        </li>
        </ul>
      </div>
    </div>