//==============LAYOUTS==========================//
.auth-wrapper {
    width: 20em;
    float: none;
    margin: 0 auto;
    padding-top: 5%; 
}
.movie-wrapper {
    width: 40em;
    float: none;
    margin: 0 auto;
    padding-top: 5%;
}
footer{
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     height: 35px;
     text-align: center;
     color: #CCC;
 }
 
 footer p {
     padding: 10.5px;
     margin: 0px;
     line-height: 100%;
 }
//popular and search grid items
#grid-items{
    list-style-type: none;
   text-align: center; 
}
#grid-items > li{
height:280px;
}
.card-holder{
    // background-color: #2B2727;
    // border-radius: 10px; 
    margin-top: 1.8px;
    margin-bottom:1.8px; 
}

.search-field {
    width:15em;
}


// --------------------------//

//--------HEADINGS------------//
.nav-logo {
    font-size: 40px;
    font-weight: bold;
    color: #f5f5f1;
    // border: solid blue 1px;
}
.main-header, .search-results-header {
    padding-bottom: 1%;
    text-align: center;
}

.home-header {
    text-align: center;
    padding-top: 12%;
}
.comments-header{
text-align: center;
}

//---------FONT-------------------//
body,header, div, ul, li, a, .comments-field {
    color: #f5f5f1;
}
.search-field,{
    color:#221F1F;
}
.comments{
    color:#221F1F;
}
.card-title{
    font-size: 14px;
    word-wrap: break-word;
}

//----------------------------//

//-------LAYOUT AND COMPONENTS COLOR-----------//
body, footer{
        background-color:#221F1F;
}
footer{
    opacity: 0.6;
}
.navbar, .login-logout-button, .search-button, button {
    background-color:#E50914; 
}
.list-btn-remove-add, .comment-btn-add {
    background-color: #0B0A0A;
    word-wrap: break-word;
    width: 100%;
    border: 1px;
    opacity: 0.7;
}
.comment-btn-add {
    opacity: 0.5;
}
.comments-field {
    background-color:#2B2727;
    width:100%;
}

